<a href="https://colab.research.google.com/github/lanky441/python_tutorials/blob/main/Basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## What is python?
Python is a programming language! Just like English is a language that we use to express our feelings and thoughts (through speaking or writing), python is a language to write programs.

## What is a program then?
A computer program is a sequence or set of instructions for a computer to execute. You can use computer program to do many things including mathematical calculations, web development, making softwares (the limit is only your imagination).

## Just like we have other languages like english, do we have more programming languages?
Yes, there are many programming languages like python, e.g., `Java`, `C++`, `R`. Different programming languages are better suited for different jobs and they all have some advantages and some disadvantages.

## Why learn python?
Python is very intuitive and easy to learn. Also, it is very popular. So if you learn python, you can write a program that many people will understand and benifit from. You will also have access to many many python programs others have already written and can use them for your own work. You will become part of a big community and so, if you have any problem while writing your program, there will be many people to help you.

## Let us start learning. Firstly, we can use python as calculator.

We can use python for all basic algebra like addition (+), subtraction (-), multiplication (\*), division (/), and exponentiation (\*\*). Here are the list of avalaible operations.
<br>
<br>
<img src='https://drive.google.com/uc?id=1oWIHaQ7iBeObJJWTooYigxNRfYnOqEna' width='600'>
<br>
## Putting comments
We use `#` for putting comments in our code, i.e., the lines starting with `#` will be not executed by python.

In [ ]:
# Addition
2+3

5

In [ ]:
# Subtraction
11-6

5

In [ ]:
# Multiplication
5*12

60

In [ ]:
# Division
12/3

4.0

In [ ]:
# Exponent
5**2

25

**Check what `%` and `//` are used for..**

In [ ]:
32%5

2

In [ ]:
32//5

6

## Variables
Variables are containers for storing data values. A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = 3.14
z = "John"

## Print function
You can print something using the `print` function. The systax is `print(what you want to print)`

In [ ]:
print("Hello, World!")

Hello, World!

In [ ]:
x = 5
y = 3.14
z = "John"

print(x)
print(y)
print(z)

5
3.14
John

By default, the `print` statement ends with a `linebreak`. But, you can change it if you want by using the `end` argument.

In [ ]:
x = 5
y = 3.14
z = "John"

print(x, end=' ')
print(y, end=' ')
print(z, end=' ')

5 3.14 John

In [ ]:
x = 5
y = 3.14
z = "John"

print(x, end='\t') # tab
print(y, end='\n') # linebreak
print(z, end='...')

5	3.14
John...

# Python Data Types

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

<br>
<br>
<img src='https://drive.google.com/uc?id=1Mn39mDoysLOvrgpE-n02qryeFYJdXQFn' width='500'>
<br>

In [ ]:
# str
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [ ]:
# str
x = "123"
print(x)
print(type(x))

123
<class 'str'>

In [ ]:
# You can add two strings with `+` operator
x = "Hello "
y = "World!"
print(x + y)

Hello World!

In [ ]:
x = "1"
y = "2"
print(x + y)

In [ ]:
# int
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [ ]:
# float
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

**Boolean**

In [ ]:
# bool
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
x = 5 > 3
print(x)
print(type(x))

True
<class 'bool'>

In [ ]:
# notice the `==` sign. In python, single `=` is used for an assignment
# and `==` is used to check equality.
x = 5 == 3
print(x)
print(type(x))

False
<class 'bool'>

# list

In [ ]:
# list
x = ["apple", "banana", "cherry"]
print(x)
print(type(x))

['apple', 'banana', 'cherry']
<class 'list'>

In [ ]:
x = ["apple", 1.5, 20]
print(x)

['apple', 1.5, 20]

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

In [ ]:
print(x[0])
print(type(x[0]))

apple
<class 'str'>

In [ ]:
print(x[1])
print(type(x[1]))

1.5
<class 'float'>

We can access items in a list backward by using negative index. The last item has index `-1`, second last `-2`, ...

In [ ]:
print(x[-1])
print(x[-2])

20
1.5

In [ ]:
# exercise
# create a list with 12 items of different data types including int, float, str, and bool
# print the 3rd and 8th items of the list
# Also, print the 3rd last item of the list

a = [1, 2, 5.4, 'a', True, "apple", 7, False, 3.14, "banana", 1.0, "d"]
print("Length of the list = ", len(a))

print("3rd item = ", a[2])
print("8th item = ", a[7])
print("3rd last item = ", a[-3])

Length of the list =  12
3rd item =  5.4
8th item =  False
3rd last item =  banana

A `str` is a list of characters!

In [ ]:
a = "Hello World!"
print(a)
print(a[0])
print(a[5])
print(a[-1])

Hello World!
H

!

## Manipulating lists

Python has some built-in methods we can use on list. Feel free to try all of them at home. Here we will look into a few of them.

<br>
<br>
<img src='https://drive.google.com/uc?id=1iDXJLQQ_iwrS9AEinXSeLCKPhFB9lI7V' width='500'>
<br>

In [ ]:
a = [1, 3, 2, 5, 4, 6, 7, 8, 9]
print(a)

[1, 3, 2, 5, 4, 6, 7, 8, 9]

In [ ]:
a.append(10)
print(a)

[1, 3, 2, 5, 4, 6, 7, 8, 9, 10]

In [ ]:
a.remove(2)
print(a)

[1, 3, 5, 4, 6, 7, 8, 9, 10]

In [ ]:
# a.insert(index, object)
a.insert(5, 2)
print(a)

[1, 3, 5, 4, 6, 2, 7, 8, 9, 10]

In [ ]:
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a.reverse()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# You can add the elements of two list to make one single list
b = [1, 2, 3]
c = a + b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [ ]:
# exercise
# Crate a list of different animals you like
# Add one more animal name at the 3rd position
# sort them alphabetically

animals = ["dog", "cat", "bird", "cow"]

animals.insert(2, "elephant")
print(animals)

animals.sort()
print(animals)

['dog', 'cat', 'elephant', 'bird', 'cow']
['bird', 'cat', 'cow', 'dog', 'elephant']

**List slicing**

You can access only a specified set of elements.

In [ ]:
# a[start:end:step]
# start index in included, but the end index is not included
a = [1, 3, 2, 5, 4, 6, 7, 8, 9]
print(a[2:8:2])

[2, 4, 7]

In [ ]:
# a[start:end:step]
# By default, the `start = 0`, `end = -1`, and `step = 1`
print(a[::])

[1, 3, 2, 5, 4, 6, 7, 8, 9]

In [ ]:
# In fact, you can ignore the second `:` if you want `step = 1`
print(a[:5])
print(a[5:])

[1, 3, 2, 5, 4]
[6, 7, 8, 9]

In [ ]:
# Exercise
# Create a list of integers from 1 to 10
# Print only the numbers between 3 and 9 from that list
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[2:9])

[3, 4, 5, 6, 7, 8, 9]

## dictionary

In [ ]:
# dictionary
x = {"name" : "John", "age" : 36}
print(x)
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [ ]:
print("Name of the person:", x["name"])
print("Age of the person:", x["age"])

Name of the person: John
Age of the person: 36

# Python Conditions and If statements

Python supports the usual logical conditions from mathematics:
- Equals: `a == b`
- Not Equals: `a != b`
- Less than: `a < b`
- Less than or equal to: `a <= b`
- Greater than: `a > b`
- Greater than or equal to: `a >= b`

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Indentation

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code

In [ ]:
a = 10
if a > 5:
print("a is greater than 5")

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-47-11de3b2f858b>, line 3)

In [ ]:
a = 10
if a > 5:
  print("a is greater than 5")

a is greater than 5

In [ ]:
a = 10
if a > 5:
  print("a is greater than 5")
    print("That's great!")

IndentationError: unexpected indent (<ipython-input-49-809f91390c77>, line 4)

In [ ]:
a = 10
if a > 5:
  print("a is greater than 5")
  print("That's great!")

a is greater than 5
That's great!

### elif

The `elif` keyword is Python's way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

### else
The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

### and
The `and` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

### or
The `or` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

### not
The `not` keyword is a logical operator, and is used to reverse the result of the conditional statement:

In [ ]:
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [ ]:
# Exercise
# Write an if-elif-else condition to check whether a given numer is even, odd, or not an integer
a = 5.3
if a % 2 == 0:
  print("a is even")
elif a % 2 == 1:
  print("a is odd")
else:
  print("a is not an integer")

a is not an integer

### Nested If
You can have `if` statements inside `if` statements, this is called nested `if` statements.

In [ ]:
x = 41

if x > 10:
  print("x is above ten,")
  if x > 20:
    print("And x is also above 20!")
  else:
    print("but not above 20.")

x is above ten,
And x is also above 20!

# Python Loops

Python has two primitive loop commands:

- `while` loops
- `for` loops

## The While Loop
With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
# Remember to indent
i = 1
while i < 6:
  print(i)
  i += 1   # i = i +1

1
2
3
4
5

### The `break` Statement
With the `break` statement we can stop the loop even if the while condition is true:

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

### The continue Statement
With the `continue` statement we can stop the current iteration, and continue with the next:

In [ ]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## Python For Loops
A `for` loop is used for iterating over a sequence.

With the `for` loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
a = [1, 2, 3, 4, 5]
for x in a:
  print(x**2)

1
4
9
16
25

Just like in `while` loop, we can use `break` and `continue` statements with for loop.

In [ ]:
# print name of the fruits but stop when x is "banana":
fruits = ["apple", "grapes", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
grapes
banana

In [ ]:
# Print all fruits except banana:
fruits = ["apple", "grapes", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
grapes
cherry

### The `range()` Function
To loop through a set of code a specified number of times, we can use the `range()` function,
The r`ange()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

**range(start=0, end, step=1)**

Again, the end value is not included.

In [75]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [76]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
for x in range(2, 20, 3):
  print(x)

2
5
8
11
14
17

### Nested Loops
A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [78]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  print("adj = ", x)
  for y in fruits:
    print("fruit = ", y)
    print(x, y)

adj =  red
fruit =  apple
red apple
fruit =  banana
red banana
fruit =  cherry
red cherry
adj =  big
fruit =  apple
big apple
fruit =  banana
big banana
fruit =  cherry
big cherry
adj =  tasty
fruit =  apple
tasty apple
fruit =  banana
tasty banana
fruit =  cherry
tasty cherry

**Print out this using nested for loop**

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6 6 6

In [80]:
for i in range(1, 7):
  for j in range(i):
    print(i, end=' ')
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6

# Python functions

- A function is a block of code which only runs when it is called.

- You can pass data, known as parameters, into a function.

- A function can return data as a result.

**Creating a Function**

In Python, a function is defined using the `def` keyword:

In [83]:
def my_function():
  print("Hello from my function!")
  print("Bye!")

In [84]:
my_function()

Hello from my function!
Bye!

## Arguments
Information can be passed into functions as arguments.

In [85]:
def my_function(name):
  print("Hello, " + name + "!")


my_function("John")
my_function("Sara")

Hello, John!
Hello, Sara!

You can use as many arguments (or parameters) as you want to define a function. Here is an example with two arguments.

In [86]:
def my_function(fname, lname):
  print("Hello, " + fname + " " + lname + "!")

my_function("John", "Doe")

Hello, John Doe!

**Number of Arguments**

A function must be called with the correct number of arguments. Meaning that if your function expects 2 arguments, you have to call the function with 2 arguments, not more, and not less.

In [87]:
my_function("John")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [88]:
my_function("John", "Doe", "Smith")

TypeError: my_function() takes 2 positional arguments but 3 were given

**Default Parameter Value**

The following example shows how to use a default parameter value.

In [89]:
def my_function(country = "Norway"):
  print("I am from " + country + "!")

my_function()
my_function("Sweden")
my_function("India")
my_function("Brazil")

I am from Norway!
I am from Sweden!
I am from India!
I am from Brazil!

**Passing a List as an Argument**

You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [90]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

## Return Values

To let a function return a value, use the `return` statement:

In [92]:
def my_function(x):
  return 5 * x

y = my_function(6)
print(y)

30

You can use mutiple arguments and define complicated functions. Here are few things to try out.

In [93]:
# Define a function that will calculate and return x^5 for any value of x

def my_function(x):
  return x**5

print(my_function(3))
print(my_function(5))

243
3125

In [94]:
# Define a function that will calculate and return (x+y)^2 for given values of x and y

def my_function(x, y):
  return (x+y)**2

print(my_function(3, 4))
print(my_function(5, 6))

49
121

In [5]:
# Define a function that will calculate and return factorial(x) or x!
# x! = 1*2*3*4*5*...*x
# For example, 5! = 1*2*3*4*5 = 120

def factorial(x):
  fact = 1
  for i in range(1, x+1):
    fact = fact * i

  return(fact)

print(factorial(5))

120

## Recursion

Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

Recursion must have a stopping criterion, i.e., the function must stop calling itself and return some value when a certain condition is reached.

In [6]:
# Let us try to calculate the factorial again
# x! = x * (x-1)!
# 5! = 5 * 4! = 5 * 4 * !3 = 5 * 4 * 3 * 2! = 5 * 4 * 3 * 2 * 1! = 5 * 4 * 3 * 2 * 1 = 120

def factorial(x):
  if x == 1:
    return 1
  else:
    return x * factorial(x-1)

print(factorial(5))
print(factorial(10))

120
3628800

In [9]:
# Fibonacci Sequence
# The Fibonacci Sequence is a series of numbers:
# 0, 1, 1, 2, 3, 5, 8, 13, 21, ...
# Every next number is found by adding up the two numbers before it.

# The first two numbers are 0 and 1.
# The next number in the sequence is the sum of the previous two numbers.

# Write a function that will return the nth Fibonacci number

def fibonacci(n):
  if n == 1:
    return 0
  elif n == 2:
    return 1
  else:
    return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(10))

34